.ListContain {
    border: 2px solid yellow;
    height: 100%;
    width: 100vw;
    display: flex;
    // justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: pink;
    background-image: url(../../static/images/bg1.gif);
    background-repeat: no-repeat;
    background-size: cover;

    .bar {
        border: 2px solid aqua;
        height: 100px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .list {
        border: 2px solid red;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
        width: 90%;
        height: 900px;
    }
}